#wrapper
  #drop-zone-wrapper
    #drop-zone
      #label
        i.fa.fa-cloud-upload
        h1 Drop MP3 Here
    #alternate-option
      i.fa.fa-music
      h1 Or Use Default Song
  #center-logo.hidden
    #audio-canvas-wrapper
      canvas#audio-canvas
    #text
      h1 MUSIC
      h1 SQUAD
  #particles-slow.particles
  #particles-fast.particles.initial.hidden
  #reset
    h1 Reset