$gray250: rgb(250,250,250);
$gray240: rgb(240,240,240);
$gray230: rgb(230,230,230);
$gray220: rgb(220,220,220);
$gray210: rgb(210,210,210);
$gray200: rgb(200,200,200);
$gray180: rgb(180,180,180);
$gray150: rgb(150,150,150);
$gray120: rgb(120,120,120);
$gray90: rgb(90,90,90);
$gray60: rgb(60,60,60);
$gray50: rgb(50,50,50);
$gray40: rgb(40,40,40);
$gray30: rgb(30,30,30);

$purple: rgb(171,71,188);
$darkPurple: rgb(74,20,140);
$blue: rgb(3,169,244);
$darkBlue: rgb(26,35,126);
$lightGreen: rgb(205,220,57);
$green: rgb(76,175,80);
$darkGreen: rgb(46,125,50);
$red: rgb(211,47,47);
$darkRed: rgb(183,28,28);
$orange: rgb(255,111,0);
$darkOrange: rgb(216,67,21);
$yellow: rgb(251,192,45);
$darkYellow: rgb(249,168,37);

$shadow1: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
$shadow2: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
$shadow3: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;

@mixin center{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

$coolBlue: rgb(61,90,254);

html, body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  user-select: none;
  width: 100%;
}

body{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1468070/snowy-background.jpeg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper{
  background-color: rgba(black, 0.4);
  height: 100%;
  width: 100%;
  
  #drop-zone-wrapper{
    background-color: rgba($gray30, 0.8);
    backface-visibility: hidden;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: all 0.4s, opacity 5s;
    width: 100%;
    
    &.transition-in{
      opacity: 0;
    }
    
    &.transition-out{
      opacity: 0;
      #drop-zone{
        animation: bounceOut 1s ease-in-out;
        border: 2px solid white;
        background-color: transparent;
        border-radius: 1000px;
      }
    }
    
    &.hidden{
      display: none;
      opacity: 0;
    }
    
    #drop-zone{
      @include center;
      background-color: $coolBlue;
      border-radius: 1000px;
      box-shadow: $shadow1;
      color: white;
      height: 200px;
      width: 200px;
      transition: all 0.5s;
      z-index: 5;
      
      &.showing{
        animation: bounceIn 1s ease-in-out;
      }
      
      &.transition-in{
        opacity: 0;
      }
      
      &.hidden{
        display: none;
        opacity: 0;
      }

      &.hovering{
        animation-delay: 0.5s;
        background-color: rgba(white, 0.25);
        border: 2px solid white;
        border-radius: 1000px;
        box-shadow: $shadow3;
        height: 400px;
        width: 400px;
      }

      #label{
        @include center;
        pointer-events: none;
        text-align: center;

        i{
          font-size: 5em;  
          transition: all 0.4s;
        }

        h1{
          font-size: 1em;
          font-weight: 400;
          margin: 0px;
          white-space: nowrap;
        }
      }
    }
    
    #alternate-option{
      background-color: $coolBlue;
      border-radius: 2px;
      bottom: 20px;
      box-shadow: $shadow1;
      cursor: pointer;
      display: inline-block;
      left: 50%;
      padding: 10px 15px;
      position: absolute;
      transform: translateX(-50%);
      transition: all 0.5s;
      z-index: 10;
      
      &:hover{
        background-color: $blue;
      }
      
      &.transition-out{
        animation: bounceOutDown 1s ease-in-out;
      }
      
      &.showing{
        animation: bounceInUp 1s ease-in-out;
      }
      
      &.transition-in{
        opacity: 0;
      }
      
      &.hidden{
        display: none;
        opacity: 0;
      }
      
      h1{
        color: white;
        display: inline-block;
        font-size: 1em;
        font-weight: 400;
        margin: 0px;
      }
      i{
        color: white;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
  
  #center-logo{
    @include center;
    animation: float 16s ease-in-out infinite;
    border: 14px solid white;
    border-radius: 1000px;
    box-shadow: 0px 0px 18px 2px rgba(white, 0.4),
      rgba(0, 0, 0, 0.1) 0px 10px 30px inset, 
      rgba(0, 0, 0, 0.14) 0px 6px 10px inset;
    font-family: 'Permanent Marker', cursive;
    height: 300px;
    position: absolute;
    transition: all 0.4s, opacity 1s;
    width: 300px;
    z-index: 10;
    
    &:after{
      @include center;
      border: 14px solid white;
      border-radius: 1000px;
      content: '';
      height: 100%;
      width: 100%;
      z-index: 10;
    }
    
    &.transition-out{
      animation: bounceOut 1s ease-in-out;
    }
    
    &.hidden{
      display: none;
    }
    
    &.showing{
      animation: bounceIn 1s ease-in-out;
    }
    
    &.rumble-level-1{
      animation: rumbleLevel1 0.3s ease-in-out infinite;
      box-shadow: 0px 0px 28px 6px rgba(white, 0.6);
      
      #text{
        h1{
          text-shadow: 0px 0px 10px rgba(white, 0.6);
        }
      }
    }
    
    &.rumble-level-2{
      animation: rumbleLevel2 0.3s ease-in-out infinite;
      box-shadow: 0px 0px 36px 10px rgba(white, 0.8);
      
      #text{
        h1{
          text-shadow: 0px 0px 16px rgba(white, 0.8);
        }
      }
    }
    
    #text{
      @include center;
      display: inline-block;
      transform: translateX(-50%) translateY(-50%) rotate(-10deg);
      transition: all 0.15s;
      h1{
        color: white;
        font-size: 4em;
        height: 70px;
        line-height: 70px;
        margin: 0px;
        text-shadow: 0px 0px 8px rgba(white, 0.8);
        transition: all 0.15s;
      }
    }
  }
  
  .particles{
    height: 100%;
    left: 0px;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: opacity 0.3s;
    width: 100%;
    z-index: 2;
    
    &.initial{
      transition: opacity 5s;
    }
    
    &.hidden{
      opacity: 0;
    }
  }
  
  #audio-canvas-wrapper{
    @include center;
    height: 600px;
    width: 600px;
    z-index: 4;
  }
  
  #reset{
    background-color: rgba($coolBlue, 0.25);
    border: 2px solid $coolBlue;
    border-radius: 2px;
    bottom: 20px;
    box-shadow: $shadow1;
    cursor: pointer;
    left: 20px;
    opacity: 0;
    padding: 10px 30px;
    position: absolute;
    transition: all 0.5s;
    z-index: 0;
    
    &:hover{
      background-color: $coolBlue;
    }
    
    &.showing{
      opacity: 1;
      z-index: 10;
    }
    
    h1{
      color: white;
      font-size: 1em;
      font-weight: 400;
      margin: 0px;
    }
  }
}

@keyframes bounceOut {
  20% {
    transform: translateX(-50%) translateY(-50%) scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale3d(1.1, 1.1, 1.1);
  }

  90%, to {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale3d(.3, .3, .3);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale3d(.3, .3, .3);
  }

  20% {
    transform: translateX(-50%) translateY(-50%) scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: translateX(-50%) translateY(-50%) scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: translateX(-50%) translateY(-50%) scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
  }
}

@keyframes float {
  0%, 100%{
    transform: translateX(-50%) translateY(-50%);
  }
  20%{
    transform: translateX(-52%) translateY(-53%);
  }
  40%{
    transform: translateX(-43%) translateY(-45%);
  }
  60%{
    transform: translateX(-50%) translateY(-55%);
  }
  80%{
    transform: translateX(-55%) translateY(-50%);
  }
}

@keyframes bounceOutDown {
  20% {
    transform: translateX(-50%) translateY(-50%) translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) translate3d(0, 2000px, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) translate3d(0, -20px, 0);
  }

  75% {
    transform: translateX(-50%) translateY(-50%) translate3d(0, 10px, 0);
  }

  90% {
    transform: translateX(-50%) translateY(-50%) translate3d(0, -5px, 0);
  }

  to {
    transform: translateX(-50%) translateY(-50%) translate3d(0, 0, 0);
  }
}


@keyframes rumbleLevel1 {
  0%, 100% {transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1);}
  25% {transform: translateX(-51%) translateY(-52%) rotate(-1deg) scale(1.1);}
  50% {transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1.05);}
  75% {transform: translateX(-48%) translateY(-49%) rotate(1deg) scale(1.07);}
}

@keyframes rumbleLevel2 {
  0%, 100% {transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1);}
  25% {transform: translateX(-51%) translateY(-52%) rotate(-2deg) scale(1.2);}
  50% {transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1.1);}
  75% {transform: translateX(-48%) translateY(-49%) rotate(2deg) scale(1.15);}
}
